### 
> - **To sell more credit card products to Bank customers**
> -
> - To identify the potential customers who have a higher probability of purchasing the card so that     we can recommend that particular card to user.

In [ ]:
import numpy as np # 
import pandas as pd # 


import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

from datetime import datetime
from datetime import date

import warnings

warnings.filterwarnings("ignore")

In [ ]:
import os
print(os.listdir())

['.config', 'completedtrans.csv', 'completedloan.csv', 'completeddistrict.csv', 'completedclient.csv', 'CRM Reviews.xlsx', 'CRM Events.xlsx', 'completedorder.csv', 'CRM Reviews.csv', 'CRM Call Center Logs.csv', 'completeddisposition.csv', 'LuxuryLoanPortfolio.csv', 'completedacct.csv', 'CRM Events.csv', 'completedcard.csv', 'sample_data']

### **Loading of Dataframes**

In [ ]:
accounts_df = pd.read_csv ('completedacct.csv', sep = ',')
cards_df = pd.read_csv ('completedcard.csv', sep = ',')
clients_df = pd.read_csv ('completedclient.csv', sep = ',')
dispos_df = pd.read_csv ('completeddisposition.csv', sep = ',')
district_df = pd.read_csv ('completeddistrict.csv', sep = ',')
loan_df = pd.read_csv ('completedloan.csv', sep = ',')
order_df = pd.read_csv ('completedorder.csv', sep = ',')
trans_df = pd.read_csv ('completedtrans.csv', sep = ',')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
trans_df ['operation'].fillna ('INTEREST_CREDIT', inplace = True)

In [ ]:
order_df_new =order_df[['account_id','k_symbol']]
order_df_new.drop_duplicates(inplace=True)
order_df_new=order_df_new.reset_index(drop=True)
order_df_new_dummy=pd.get_dummies(order_df_new, columns=["k_symbol"]).groupby(['account_id'], as_index=False).sum()

### Creating features & calculating credit and debit balance from each account id

In [ ]:
f = lambda x: -x

In [ ]:
#columns with amounts that affects balance positively - collection from another banks 
trans_df = trans_df.assign (pos_sum = np.nan)

#columns with amounts that affects balance negatively - remittance to another banks
trans_df = trans_df.assign (neg_sum = np.nan)

#filling columns pos_sum and neg_sum based on operation type. pos_sum stands for inflows
trans_df.pos_sum = trans_df.amount.where (trans_df.type == 'Credit', trans_df.pos_sum)

#neg_sum stands for outflows
trans_df.neg_sum = trans_df.amount.where (trans_df.type == 'Debit', trans_df.neg_sum )

In [ ]:
trans_df['neg_sum']=trans_df['neg_sum'].apply(f)
dummy_trans_df= trans_df[['account_id', 'type', 'fulldate','pos_sum', 'neg_sum']]

In [ ]:
dummy_trans_cr_db_df=dummy_trans_df.groupby(['account_id', 'type']).sum() \
  .groupby(level=0).cumsum().reset_index()
dummy_trans_db_df =dummy_trans_cr_db_df[dummy_trans_cr_db_df.type=='Debit']

In [ ]:
dummy_trans_db_df.head(3)

  account_id   type    pos_sum    neg_sum
1  A00000001  Debit   194320.5  -180854.0
3  A00000002  Debit  1597053.5 -1554425.8
5  A00000003  Debit   173059.0  -121962.8

#### Creating dummies of operation performed by each Account to merge in tans_df

In [ ]:
df_dummy=trans_df[['account_id','operation']]
df_dummy.drop_duplicates(inplace=True) 
df_dummy=df_dummy.reset_index(drop=True)

Trans_operat_df_dummy=pd.get_dummies(df_dummy, columns=["operation"]).groupby(['account_id'], as_index=False).sum()

In [ ]:
Trans_operat_df_dummy.head()

  account_id  ...  operation_Remittance to Another Bank
0  A00000001  ...                                     1
1  A00000002  ...                                     1
2  A00000003  ...                                     1
3  A00000004  ...                                     1
4  A00000005  ...                                     1

[5 rows x 7 columns]

### MERGE 1
1. dummy_trans_db_df + Trans_operat_df_dummy

In [ ]:

Trans_merged_df = dummy_trans_db_df.merge (Trans_operat_df_dummy, left_on = 'account_id', right_on = 'account_id', 
                                           how = 'left', validate = 'one_to_one') 
display (dummy_trans_db_df.head (n=3))
display (Trans_merged_df.head (n=3))     
print ("Verifying shape. Before: " + str (dummy_trans_db_df.shape)+ " After: " + str (Trans_merged_df.shape))

  account_id   type    pos_sum    neg_sum
1  A00000001  Debit   194320.5  -180854.0
3  A00000002  Debit  1597053.5 -1554425.8
5  A00000003  Debit   173059.0  -121962.8

  account_id  ... operation_Remittance to Another Bank
0  A00000001  ...                                    1
1  A00000002  ...                                    1
2  A00000003  ...                                    1

[3 rows x 10 columns]

Verifying shape. Before: (4500, 4) After: (4500, 10)

### MERGE 2
1. Merge1 + accounts_df

In [ ]:

#merging accounts_df and corresponding Trans_merged_df 

trans_accnt_df = Trans_merged_df.merge (accounts_df, left_on = 'account_id', right_on = 'account_id', 
                                           how = 'left', validate = 'one_to_one') 
display (Trans_merged_df.head (n=3))
display (trans_accnt_df.head (n=3))     
print ("Verifying shape. Before: " + str (Trans_merged_df.shape)+ " After: " + str (trans_accnt_df.shape))

  account_id  ... operation_Remittance to Another Bank
0  A00000001  ...                                    1
1  A00000002  ...                                    1
2  A00000003  ...                                    1

[3 rows x 10 columns]

  account_id   type    pos_sum    neg_sum  ...  parseddate  year  month  day
0  A00000001  Debit   194320.5  -180854.0  ...  2015-03-24  2015      3   24
1  A00000002  Debit  1597053.5 -1554425.8  ...  2013-02-26  2013      2   26
2  A00000003  Debit   173059.0  -121962.8  ...  2017-07-07  2017      7    7

[3 rows x 16 columns]

Verifying shape. Before: (4500, 10) After: (4500, 16)

In [ ]:
#merging accounts_df and corresponding order_df_summery 

trans_accnt_df = trans_accnt_df.merge (order_df_new_dummy, left_on = 'account_id', right_on = 'account_id', 
                                           how = 'left', validate = 'one_to_one') 
display (trans_accnt_df.head (n=3))     
print ("Verifying shape.  After: " + str (trans_accnt_df.shape))

  account_id   type  ...  k_symbol_Leasing Payment  k_symbol_Loan Payment
0  A00000001  Debit  ...                       0.0                    0.0
1  A00000002  Debit  ...                       0.0                    1.0
2  A00000003  Debit  ...                       0.0                    0.0

[3 rows x 21 columns]

Verifying shape.  After: (4500, 21)

### MERGE 3
1. Merge2 + dispos_df

In [ ]:
dispos_dummy_df=pd.get_dummies(dispos_df, columns=["type"]).groupby(['client_id','account_id','disp_id'], as_index=False).sum()

In [ ]:
#merging cards_df and corresponding dispos_df so to find client_id and then from client_id to find corresponding region data

trans_accnt_dispos_df = trans_accnt_df.merge (dispos_dummy_df, left_on = 'account_id', right_on = 'account_id', 
                                           how = 'left', validate = 'one_to_many') 
display (trans_accnt_df.head (n=3))
display (trans_accnt_dispos_df.head (n=3))     
print ("Verifying shape. Before: " + str (trans_accnt_df.shape)+ " After: " + str (trans_accnt_dispos_df.shape))

  account_id   type  ...  k_symbol_Leasing Payment  k_symbol_Loan Payment
0  A00000001  Debit  ...                       0.0                    0.0
1  A00000002  Debit  ...                       0.0                    1.0
2  A00000003  Debit  ...                       0.0                    0.0

[3 rows x 21 columns]

  account_id   type    pos_sum  ...    disp_id  type_Owner  type_User
0  A00000001  Debit   194320.5  ...  D00000001           1          0
1  A00000002  Debit  1597053.5  ...  D00000002           1          0
2  A00000002  Debit  1597053.5  ...  D00000003           0          1

[3 rows x 25 columns]

Verifying shape. Before: (4500, 21) After: (5369, 25)

### Merge 4
merge 3+Cards_df

In [ ]:
cards_df =cards_df[['disp_id', 'type']]

In [ ]:
trans_accnt_dispos_cards_df = trans_accnt_dispos_df.merge (cards_df, left_on = 'disp_id', right_on = 'disp_id', 
                                           how = 'left', validate = 'many_to_one') 
display (trans_accnt_dispos_df.head (n=3))
display (trans_accnt_dispos_cards_df.head (n=3))     
print ("Verifying shape. Before: " + str (trans_accnt_dispos_df.shape)+ " After: " + str (trans_accnt_dispos_cards_df.shape))

  account_id   type    pos_sum  ...    disp_id  type_Owner  type_User
0  A00000001  Debit   194320.5  ...  D00000001           1          0
1  A00000002  Debit  1597053.5  ...  D00000002           1          0
2  A00000002  Debit  1597053.5  ...  D00000003           0          1

[3 rows x 25 columns]

  account_id type_x    pos_sum  ...  type_Owner  type_User  type_y
0  A00000001  Debit   194320.5  ...           1          0     NaN
1  A00000002  Debit  1597053.5  ...           1          0     NaN
2  A00000002  Debit  1597053.5  ...           0          1     NaN

[3 rows x 26 columns]

Verifying shape. Before: (5369, 25) After: (5369, 26)

### Merge 5
merge 4+Clients_df

In [ ]:
clients_dist_df = clients_df
clients_dist2_df = clients_dist_df.merge (district_df, left_on = 'district_id', right_on = 'district_id', 
                                           how = 'left', validate = 'many_to_one') 
display (clients_df.head (n=3))
display (clients_dist2_df.head (n=3))

   client_id     sex    fulldate  ...  state  zipcode  district_id
0  C00000001  Female  1990-12-13  ...     NM    47246           18
1  C00000002    Male  1965-02-04  ...     NY    10040            1
2  C00000003  Female  1960-10-09  ...     NY    10162            1

[3 rows x 19 columns]

   client_id     sex    fulldate  ...  state_abbrev     region         division
0  C00000001  Female  1990-12-13  ...            NM       West         Mountain
1  C00000002    Male  1965-02-04  ...            NY  Northeast  Middle Atlantic
2  C00000003  Female  1960-10-09  ...            NY  Northeast  Middle Atlantic

[3 rows x 24 columns]

In [ ]:
clients_df_dummy =clients_dist2_df[['client_id', 'sex','age','city_x', 'state', 'zipcode', 'district_id','region','division']]

In [ ]:
final_df = clients_df_dummy.merge (trans_accnt_dispos_cards_df, left_on = 'client_id', right_on = 'client_id', 
                                           how = 'left', validate = 'one_to_one') 
display (clients_df_dummy.head (n=3))
display (final_df.head (n=3))     
print ("Verifying shape. Before: " + str (clients_df_dummy.shape)+ " After: " + str (final_df.shape))

   client_id     sex  age  ... district_id     region         division
0  C00000001  Female   29  ...          18       West         Mountain
1  C00000002    Male   54  ...           1  Northeast  Middle Atlantic
2  C00000003  Female   59  ...           1  Northeast  Middle Atlantic

[3 rows x 9 columns]

   client_id     sex  age  ... type_Owner type_User  type_y
0  C00000001  Female   29  ...          1         0     NaN
1  C00000002    Male   54  ...          1         0     NaN
2  C00000003  Female   59  ...          0         1     NaN

[3 rows x 34 columns]

Verifying shape. Before: (5369, 9) After: (5369, 34)

In [ ]:
crm_event_df = pd.read_excel('CRM Events.xlsx')

In [ ]:
crm_event_df_new =crm_event_df[['Product', 'Sub-product','Client_ID']]
mask = crm_event_df_new['Sub-product'].isnull()
crm_event_df_new.loc[mask, 'Sub-product'] = crm_event_df_new.loc[mask, 'Product'].map({'Credit card':'Insurence', 'Bank account or service':'Demat'})

crm_event_df_new.drop_duplicates(inplace=True)
crm_event_df_new=crm_event_df_new.reset_index(drop=True)

In [ ]:
crm_event_df_new.columns

Index(['Product', 'Sub-product', 'Client_ID'], dtype='object')

In [ ]:
d1=crm_event_df_new[['Product','Client_ID']]
d2=crm_event_df_new[['Sub-product','Client_ID']]

d2.rename(columns={'Sub-product':'Product'},inplace=True)
          
frame =[d1,d2]
product_result=pd.concat(frame,ignore_index=True)

In [ ]:
product_result.drop_duplicates(inplace=True)
product_result=product_result.reset_index(drop=True)

In [ ]:
product_result_dummy =pd.get_dummies(product_result, columns=['Product']).groupby(['Client_ID'], as_index=False).sum()

In [ ]:
final_df_products = final_df.merge (product_result_dummy, left_on = 'client_id', right_on = 'Client_ID', 
                                           how = 'left', validate = 'one_to_one') 
display (final_df.head (n=3))
display (final_df_products.head (n=3))     
print ("Verifying shape. Before: " + str (final_df.shape)+ " After: " + str (final_df_products.shape))

   client_id     sex  age  ... type_Owner type_User  type_y
0  C00000001  Female   29  ...          1         0     NaN
1  C00000002    Male   54  ...          1         0     NaN
2  C00000003  Female   59  ...          0         1     NaN

[3 rows x 34 columns]

   client_id  ... Product_Savings account
0  C00000001  ...                     0.0
1  C00000002  ...                     0.0
2  C00000003  ...                     0.0

[3 rows x 43 columns]

Verifying shape. Before: (5369, 34) After: (5369, 43)

### Imputations

In [ ]:

mask = final_df_products['type_y'].isnull()
final_df_products.loc[mask, 'type_y'] = final_df_products.loc[mask, 'operation_Credit Card Withdrawal'].map({1:'VISA Infinite', 0:'No CreditCard'})

In [ ]:
final_df_products =pd.get_dummies(final_df_products, columns=['type_y'])

In [ ]:
final_df_products['loanexist']=np.where(final_df_products['account_id'].isin(loan_df['account_id']),1,0)

In [ ]:
final_df_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5369 entries, 0 to 5368
Data columns (total 47 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   client_id                                   5369 non-null   object
 1   sex                                         5369 non-null   object
 2   age                                         5369 non-null   int64
 3   city_x                                      5369 non-null   object
 4   state                                       5369 non-null   object
 5   zipcode                                     5369 non-null   int64
 6   district_id_x                               5369 non-null   int64
 7   region                                      5369 non-null   object
 8   division                                    5369 non-null   object
 9   account_id                                  5369 non-null   object
 10  type_x                                      5369 non-null   object
 11  pos_sum                                     5369 non-null   float64
 12  neg_sum                                     5369 non-null   float64
 13  operation_Cash Withdrawal                   5369 non-null   uint8
 14  operation_Collection from Another Bank      5369 non-null   uint8
 15  operation_Credit Card Withdrawal            5369 non-null   uint8
 16  operation_Credit in Cash                    5369 non-null   uint8
 17  operation_INTEREST_CREDIT                   5369 non-null   uint8
 18  operation_Remittance to Another Bank        5369 non-null   uint8
 19  district_id_y                               5369 non-null   int64
 20  frequency                                   5369 non-null   object
 21  parseddate                                  5369 non-null   object
 22  year                                        5369 non-null   int64
 23  month                                       5369 non-null   int64
 24  day                                         5369 non-null   int64
 25  k_symbol_                                   4560 non-null   float64
 26  k_symbol_Household Payment                  4560 non-null   float64
 27  k_symbol_Insurance Payment                  4560 non-null   float64
 28  k_symbol_Leasing Payment                    4560 non-null   float64
 29  k_symbol_Loan Payment                       4560 non-null   float64
 30  disp_id                                     5369 non-null   object
 31  type_Owner                                  5369 non-null   uint8
 32  type_User                                   5369 non-null   uint8
 33  Client_ID                                   5284 non-null   object
 34  Product_(CD) Certificate of deposit         5284 non-null   float64
 35  Product_Bank account or service             5284 non-null   float64
 36  Product_Cashing a check without an account  5284 non-null   float64
 37  Product_Checking account                    5284 non-null   float64
 38  Product_Credit card                         5284 non-null   float64
 39  Product_Insurence                           5284 non-null   float64
 40  Product_Other bank product/service          5284 non-null   float64
 41  Product_Savings account                     5284 non-null   float64
 42  type_y_No CreditCard                        5369 non-null   uint8
 43  type_y_VISA Infinite                        5369 non-null   uint8
 44  type_y_VISA Signature                       5369 non-null   uint8
 45  type_y_VISA Standard                        5369 non-null   uint8
 46  loanexist                                   5369 non-null   int64
dtypes: float64(15), int64(8), object(12), uint8(12)
memory usage: 1.5+ MB

In [ ]:
final_df_products.drop(['account_id','district_id_y','disp_id','type_x','parseddate','k_symbol_ ','Client_ID'],axis=1,inplace=True)

In [ ]:
cols =['Product_(CD) Certificate of deposit',
       'Product_Bank account or service',
       'Product_Cashing a check without an account',
       'Product_Checking account', 'Product_Credit card', 'Product_Insurence',
       'Product_Other bank product/service', 'Product_Savings account','k_symbol_Household Payment',
       'k_symbol_Insurance Payment', 'k_symbol_Leasing Payment',
       'k_symbol_Loan Payment']

In [ ]:
final_df_products[cols] = final_df_products[cols].fillna(0.0).astype(int)

In [ ]:
final_df_products.info()

In [ ]:
pip install turicreate

In [ ]:
import time
import turicreate as tc
from sklearn.model_selection import train_test_split

In [ ]:
final_df_dummy =final_df_products[['client_id','Product_(CD) Certificate of deposit',
       'Product_Bank account or service',
       'Product_Cashing a check without an account',
       'Product_Checking account', 'Product_Credit card', 'Product_Insurence',
       'Product_Other bank product/service', 'Product_Savings account',
       'type_y_No CreditCard', 'type_y_VISA Infinite', 'type_y_VISA Signature',
       'type_y_VISA Standard', 'loanexist']]

In [ ]:
final_df_dummy=final_df_dummy.set_index('client_id')

In [ ]:
final_df_dummy

           Product_(CD) Certificate of deposit  ...  loanexist
client_id                                       ...
C00000001                                    0  ...          0
C00000002                                    0  ...          1
C00000003                                    0  ...          1
C00000004                                    0  ...          0
C00000005                                    0  ...          0
...                                        ...  ...        ...
C00013955                                    0  ...          1
C00013956                                    0  ...          1
C00013968                                    0  ...          1
C00013971                                    1  ...          1
C00013998                                    0  ...          0

[5369 rows x 13 columns]

In [ ]:
final_df_dummy_labels = final_df_dummy.stack()
final_df_dummy_labels

client_id
C00000001  Product_(CD) Certificate of deposit           0
           Product_Bank account or service               1
           Product_Cashing a check without an account    0
           Product_Checking account                      1
           Product_Credit card                           1
                                                        ..
C00013998  type_y_No CreditCard                          1
           type_y_VISA Infinite                          0
           type_y_VISA Signature                         0
           type_y_VISA Standard                          0
           loanexist                                     0
Length: 69797, dtype: int64

In [ ]:
final_df_dummy_labels = final_df_dummy_labels.reset_index()
final_df_dummy_labels

       client_id                                     level_1  0
0      C00000001         Product_(CD) Certificate of deposit  0
1      C00000001             Product_Bank account or service  1
2      C00000001  Product_Cashing a check without an account  0
3      C00000001                    Product_Checking account  1
4      C00000001                         Product_Credit card  1
...          ...                                         ... ..
69792  C00013998                        type_y_No CreditCard  1
69793  C00013998                        type_y_VISA Infinite  0
69794  C00013998                       type_y_VISA Signature  0
69795  C00013998                        type_y_VISA Standard  0
69796  C00013998                                   loanexist  0

[69797 rows x 3 columns]

In [ ]:
final_df_dummy_labels.columns = ["client_id", "product", "is_owned"]

In [ ]:
def split_data(data):
    '''
    Splits dataset into training and test set.
    
    Args:
        data (pandas.DataFrame)
        
    Returns
        train_data (tc.SFrame)
        test_data (tc.SFrame)
    '''
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [ ]:
train_data, test_data = split_data(final_df_dummy_labels)

In [ ]:
user_id = 'client_id'
item_id = 'product'
users_to_recommend = list(final_df_products[user_id])
n_rec = 5 # number of items to recommend
n_display = 30 # to display the first few rows in an output dataset

In [ ]:
user_info = tc.SFrame({'client_id': list(final_df_products['client_id']),
                                'age_category': list(final_df_products['age']),
                                'gender': list(final_df_products['sex'])  ,
                               'city_x': list(final_df_products['city_x'])    ,
                                'state':  list(final_df_products['state'])         ,
                                'zipcode': list(final_df_products['zipcode'])         ,
                                'district_id_x': list(final_df_products['district_id_x'])        ,
                               'region':  list(final_df_products['region'])       ,
                                 'division':  list(final_df_products['division'])          ,
                                 'pos_sum':  list(final_df_products['pos_sum'])           ,
                                'neg_sum':  list(final_df_products['neg_sum']),
                                'frequency':  list(final_df_products['frequency'])    
                       })

In [ ]:
def model(train_data, name, user_id, item_id, target, user_feature,users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target,
                                                    user_data=user_info
                                                 )
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    user_data =user_info,
                                                    similarity_type='cosine')
    elif name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    user_data =user_info,
                                                    similarity_type='pearson')
    elif name == 'factorization':
        model = tc.factorization_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    user_data =user_info          
                                                    )
        
    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [ ]:
name = 'factorization'
target = 'is_owned'
factor = model(train_data, name, user_id, item_id, target,user_feature,users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 55837 observations with 5369 users and 13 items.

    Data prepared in: 0.123853s

Training factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 8        |

| regularization                 | L2 Regularization on Factors                     | 1e-08    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-10    |

| side_data_factorization        | Assign Factors for Side Data                     | True     |

| max_iterations                 | Maximum Number of Iterations                     | 50       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 10000 / 55837 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 3.84615           | Not Viable                               |

| 1       | 0.961538          | Not Viable                               |

| 2       | 0.240385          | Not Viable                               |

| 3       | 0.0600962         | 0.0170459                                |

| 4       | 0.0300481         | 0.0547254                                |

+---------+-------------------+------------------------------------------+

| Final   | 0.0600962         | 0.0170459                                |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 100us        | 0.240086          | 0.489986              |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 67.307ms     | 0.24314           | 0.493088              | 0.0600962   |

| 2       | 126.097ms    | 0.119742          | 0.346032              | 0.0600962   |

| 3       | 181.981ms    | 0.106541          | 0.3264                | 0.0600962   |

| 4       | 241.94ms     | 0.102111          | 0.319542              | 0.0600962   |

| 5       | 300.011ms    | 0.100119          | 0.316409              | 0.0600962   |

| 10      | 573.607ms    | 0.0960738         | 0.309951              | 0.0600962   |

| 50      | 2.80s        | 0.0599654         | 0.244867              | 0.0600962   |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 0.056949

       Final training RMSE: 0.238628

recommendations finished on 1000/5369 queries. users per second: 368732

recommendations finished on 2000/5369 queries. users per second: 349223

recommendations finished on 3000/5369 queries. users per second: 286205

recommendations finished on 4000/5369 queries. users per second: 277701

recommendations finished on 5000/5369 queries. users per second: 271312

+-----------+-------------------------------+----------------------+------+
| client_id |            product            |        score         | rank |
+-----------+-------------------------------+----------------------+------+
| C00000001 |      Product_Credit card      |  0.8853545861596674  |  1   |
| C00000002 |       Product_Insurence       |  0.6516356681330471  |  1   |
| C00000002 |      type_y_No CreditCard     | 0.23177384504548892  |  2   |
| C00000002 |    Product_Savings account    | -0.04496593877241317 |  3   |
| C00000003 |       Product_Insurence       |  0.9768891688958439  |  1   |
| C00000003 | Product_Other bank product... |  0.4418627732024223  |  2   |
| C00000003 |     type_y_VISA Signature     | 0.15782103506481948  |  3   |
| C00000003 | Product_Cashing a check wi... | 0.10398275596654716  |  4   |
| C00000004 |           loanexist           | 0.10710826342446012  |  1   |
| C00000004 |      type_y_VISA Infinite     |  0.0876065959547202  |  2   |
| C00000005 |      Product_Credit card      |  1.0052774882492375  |  1   |
| C00000005 |      type_y_No CreditCard     |  0.9191585554358316  |  2   |
| C00000005 | Product_Other bank product... | 0.19907006421952977  |  3   |
| C00000005 |           loanexist           | 0.08786945590644596  |  4   |
| C00000005 |     type_y_VISA Signature     | 0.05409045271470664  |  5   |
| C00000006 |      type_y_No CreditCard     |  1.262987507056802   |  1   |
| C00000006 | Product_Bank account or se... |  1.2035465240631098  |  2   |
| C00000006 | Product_Cashing a check wi... |  0.2305014562014337  |  3   |
| C00000006 |      type_y_VISA Standard     | 0.21932558716869321  |  4   |
| C00000007 |      type_y_No CreditCard     |  1.0083246786972015  |  1   |
| C00000008 |       Product_Insurence       |  0.6645900703982754  |  1   |
| C00000008 | Product_(CD) Certificate o... | -0.04399728644477882 |  2   |
| C00000008 |    Product_Savings account    | -0.10241692103284158 |  3   |
| C00000009 |      Product_Credit card      |  0.9262077846331378  |  1   |
| C00000009 |      type_y_No CreditCard     |  0.873103234521099   |  2   |
| C00000009 |     type_y_VISA Signature     |  0.527775580133297   |  3   |
| C00000009 |      type_y_VISA Standard     |  0.3135627103736479  |  4   |
| C00000009 | Product_Cashing a check wi... | 0.27940468916202377  |  5   |
| C00000010 |    Product_Savings account    |  0.3568700410975538  |  1   |
| C00000010 |      type_y_VISA Infinite     | 0.027107326648237562 |  2   |
+-----------+-------------------------------+----------------------+------+
[13745 rows x 4 columns]

In [ ]:
name = 'popularity'
target = 'is_owned'
popularity = model(train_data, name, user_id, item_id, target,user_feature,users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 55837 observations with 5369 users and 13 items.

    Data prepared in: 0.117912s

55837 observations to process; with 13 unique items.

recommendations finished on 1000/5369 queries. users per second: 392619

recommendations finished on 2000/5369 queries. users per second: 441404

recommendations finished on 3000/5369 queries. users per second: 320171

recommendations finished on 4000/5369 queries. users per second: 308737

recommendations finished on 5000/5369 queries. users per second: 330710

+-----------+-------------------------------+----------------------+------+
| client_id |            product            |        score         | rank |
+-----------+-------------------------------+----------------------+------+
| C00000001 |      Product_Credit card      |  0.8198427382053654  |  1   |
| C00000002 |       Product_Insurence       |  0.8243685687558466  |  1   |
| C00000002 |      type_y_No CreditCard     |  0.8096683792620271  |  2   |
| C00000002 |    Product_Savings account    | 0.13716295427901523  |  3   |
| C00000003 |       Product_Insurence       |  0.8243685687558466  |  1   |
| C00000003 | Product_Other bank product... | 0.40060875673144464  |  2   |
| C00000003 |     type_y_VISA Signature     | 0.12594980428275385  |  3   |
| C00000003 | Product_Cashing a check wi... | 0.021311475409836064 |  4   |
| C00000004 |           loanexist           | 0.15251099282573477  |  1   |
| C00000004 |      type_y_VISA Infinite     | 0.04053420805998126  |  2   |
| C00000005 |      Product_Credit card      |  0.8198427382053654  |  1   |
| C00000005 |      type_y_No CreditCard     |  0.8096683792620271  |  2   |
| C00000005 | Product_Other bank product... | 0.40060875673144464  |  3   |
| C00000005 |           loanexist           | 0.15251099282573477  |  4   |
| C00000005 |     type_y_VISA Signature     | 0.12594980428275385  |  5   |
| C00000006 | Product_Bank account or se... |  0.9252660805182785  |  1   |
| C00000006 |      type_y_No CreditCard     |  0.8096683792620271  |  2   |
| C00000006 |      type_y_VISA Standard     | 0.02788191190253046  |  3   |
| C00000006 | Product_Cashing a check wi... | 0.021311475409836064 |  4   |
| C00000007 |      type_y_No CreditCard     |  0.8096683792620271  |  1   |
| C00000008 |       Product_Insurence       |  0.8243685687558466  |  1   |
| C00000008 |    Product_Savings account    | 0.13716295427901523  |  2   |
| C00000008 | Product_(CD) Certificate o... | 0.06518209232196706  |  3   |
| C00000009 |      Product_Credit card      |  0.8198427382053654  |  1   |
| C00000009 |      type_y_No CreditCard     |  0.8096683792620271  |  2   |
| C00000009 |     type_y_VISA Signature     | 0.12594980428275385  |  3   |
| C00000009 |      type_y_VISA Standard     | 0.02788191190253046  |  4   |
| C00000009 | Product_Cashing a check wi... | 0.021311475409836064 |  5   |
| C00000010 |    Product_Savings account    | 0.13716295427901523  |  1   |
| C00000010 |      type_y_VISA Infinite     | 0.04053420805998126  |  2   |
+-----------+-------------------------------+----------------------+------+
[13745 rows x 4 columns]

In [ ]:
name = 'cosine'
target = 'is_owned'
cos = model(train_data, name, user_id, item_id, target, user_feature,users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 55837 observations with 5369 users and 13 items.

    Data prepared in: 0.125754s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1.373ms                        | 18.5       |

| 13.858ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 14.765ms                            | 0                | 0               |

| 29.762ms                            | 100              | 13              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.046498s

recommendations finished on 1000/5369 queries. users per second: 185357

recommendations finished on 2000/5369 queries. users per second: 221166

recommendations finished on 3000/5369 queries. users per second: 239617

recommendations finished on 4000/5369 queries. users per second: 248927

recommendations finished on 5000/5369 queries. users per second: 250225

+-----------+-------------------------------+----------------------+------+
| client_id |            product            |        score         | rank |
+-----------+-------------------------------+----------------------+------+
| C00000001 |      Product_Credit card      | 0.27419742445151013  |  1   |
| C00000002 |       Product_Insurence       | 0.10854117870330811  |  1   |
| C00000002 |      type_y_No CreditCard     | 0.09211570620536805  |  2   |
| C00000002 |    Product_Savings account    | 0.03964138627052307  |  3   |
| C00000003 |       Product_Insurence       | 0.34529300530751544  |  1   |
| C00000003 | Product_Other bank product... | 0.23597502046161228  |  2   |
| C00000003 |     type_y_VISA Signature     | 0.10071263048383924  |  3   |
| C00000003 | Product_Cashing a check wi... | 0.055515673425462514 |  4   |
| C00000004 |           loanexist           | 0.14881006696007468  |  1   |
| C00000004 |      type_y_VISA Infinite     | 0.06233603845943104  |  2   |
| C00000005 |      Product_Credit card      |   0.27112927287817   |  1   |
| C00000005 |      type_y_No CreditCard     | 0.25223978608846664  |  2   |
| C00000005 | Product_Other bank product... |  0.1822419837117195  |  3   |
| C00000005 |           loanexist           | 0.10911820828914642  |  4   |
| C00000005 |     type_y_VISA Signature     | 0.09668146818876266  |  5   |
| C00000006 | Product_Bank account or se... | 0.32367171181572807  |  1   |
| C00000006 |      type_y_No CreditCard     | 0.28980966409047443  |  2   |
| C00000006 |      type_y_VISA Standard     | 0.05625296301311917  |  3   |
| C00000006 | Product_Cashing a check wi... | 0.04903154240714179  |  4   |
| C00000007 |      type_y_No CreditCard     | 0.22276011606057486  |  1   |
| C00000008 |       Product_Insurence       |  0.1451055407524109  |  1   |
| C00000008 |    Product_Savings account    | 0.05320819616317749  |  2   |
| C00000008 | Product_(CD) Certificate o... | 0.03656967282295227  |  3   |
| C00000009 |      Product_Credit card      |  0.3483901619911194  |  1   |
| C00000009 |      type_y_No CreditCard     | 0.30854060500860214  |  2   |
| C00000009 |     type_y_VISA Signature     | 0.12226476520299911  |  3   |
| C00000009 |      type_y_VISA Standard     |  0.0577004998922348  |  4   |
| C00000009 | Product_Cashing a check wi... | 0.05443158745765686  |  5   |
| C00000010 |    Product_Savings account    |  0.1410980929027904  |  1   |
| C00000010 |      type_y_VISA Infinite     | 0.06233603845943104  |  2   |
+-----------+-------------------------------+----------------------+------+
[13745 rows x 4 columns]

In [ ]:
models_w_counts = [popularity, cos, pear,factor]
names_w_counts = ['Popularity Model on Purchase Counts', 'Cosine Similarity on Purchase Counts', 'Pearson Similarity on Purchase Counts','factorization on Purchase Counts']

In [ ]:
eval_counts = tc.recommender.util.compare_models(test_data, models_w_counts, model_names=names_w_counts)

PROGRESS: Evaluate model Popularity Model on Purchase Counts

recommendations finished on 1000/5079 queries. users per second: 218484

recommendations finished on 2000/5079 queries. users per second: 242454

recommendations finished on 3000/5079 queries. users per second: 231374

recommendations finished on 4000/5079 queries. users per second: 213288

recommendations finished on 5000/5079 queries. users per second: 221122

Precision and recall summary statistics by cutoff
+--------+----------------+---------------------+
| cutoff | mean_precision |     mean_recall     |
+--------+----------------+---------------------+
|   1    |      1.0       | 0.48056586879681895 |
|   2    |      1.0       |  0.7654239210943281 |
|   3    |      1.0       |  0.914428458920483  |
|   4    |      1.0       |  0.9732577654018906 |
|   5    |      1.0       |  0.9933983536316674 |
|   6    |      1.0       |  0.9988116333361458 |
|   7    |      1.0       |  0.9998277219925182 |
|   8    |      1.0       |         1.0         |
|   9    |      1.0       |         1.0         |
|   10   |      1.0       |         1.0         |
+--------+----------------+---------------------+
[10 rows x 3 columns]


Overall RMSE: 0.30453158506026023

Per User RMSE (best)
+-----------+------------------------+-------+
| client_id |          rmse          | count |
+-----------+------------------------+-------+
| C00000519 | 0.00023588566669296984 |   1   |
+-----------+------------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+-----------+--------------------+-------+
| client_id |        rmse        | count |
+-----------+--------------------+-------+
| C00003918 | 1.1945254472316411 |   1   |
+-----------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+----------------------+---------------------+-------+
|       product        |         rmse        | count |
+----------------------+---------------------+-------+
| type_y_VISA Standard | 0.18592895605873244 |  1101 |
+----------------------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------------------------+--------------------+-------+
|            product            |        rmse        | count |
+-------------------------------+--------------------+-------+
| Product_Other bank product... | 0.4941446690355216 |  1098 |
+-------------------------------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model Cosine Similarity on Purchase Counts

recommendations finished on 1000/5079 queries. users per second: 269324

recommendations finished on 2000/5079 queries. users per second: 246731

recommendations finished on 3000/5079 queries. users per second: 237737

recommendations finished on 4000/5079 queries. users per second: 243873

recommendations finished on 5000/5079 queries. users per second: 245351

Precision and recall summary statistics by cutoff
+--------+----------------+--------------------+
| cutoff | mean_precision |    mean_recall     |
+--------+----------------+--------------------+
|   1    |      1.0       | 0.4805658687968191 |
|   2    |      1.0       | 0.7654239210943278 |
|   3    |      1.0       | 0.9144284589204831 |
|   4    |      1.0       | 0.9732577654018908 |
|   5    |      1.0       | 0.9933983536316677 |
|   6    |      1.0       | 0.9988116333361458 |
|   7    |      1.0       | 0.9998277219925182 |
|   8    |      1.0       |        1.0         |
|   9    |      1.0       |        1.0         |
|   10   |      1.0       |        1.0         |
+--------+----------------+--------------------+
[10 rows x 3 columns]


Overall RMSE: 0.5058691293316768

Per User RMSE (best)
+-----------+------+-------+
| client_id | rmse | count |
+-----------+------+-------+
| C00001860 | 0.0  |   1   |
+-----------+------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+-----------+------+-------+
| client_id | rmse | count |
+-----------+------+-------+
| C00002672 | 1.0  |   1   |
+-----------+------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+----------------------+---------------------+-------+
|       product        |         rmse        | count |
+----------------------+---------------------+-------+
| type_y_VISA Standard | 0.15335195737091814 |  1101 |
+----------------------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------------------------+--------------------+-------+
|            product            |        rmse        | count |
+-------------------------------+--------------------+-------+
| Product_Bank account or se... | 0.7410546923603644 |  1047 |
+-------------------------------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model Pearson Similarity on Purchase Counts

recommendations finished on 1000/5079 queries. users per second: 205508

recommendations finished on 2000/5079 queries. users per second: 169866

recommendations finished on 3000/5079 queries. users per second: 174490

recommendations finished on 4000/5079 queries. users per second: 180473

recommendations finished on 5000/5079 queries. users per second: 170149

Precision and recall summary statistics by cutoff
+--------+---------------------+----------------------+
| cutoff |    mean_precision   |     mean_recall      |
+--------+---------------------+----------------------+
|   1    | 0.16518999803110856 | 0.059211365191873096 |
|   2    | 0.15790509942902134 | 0.11453323207605545  |
|   3    | 0.16249917962853624 |  0.1764009600690054  |
|   4    |  0.1714904508761567 | 0.24938847167140132  |
|   5    | 0.17964166174443785 | 0.32810194170205986  |
|   6    | 0.18474109076589915 | 0.39793571100422837  |
|   7    | 0.18734284026664455 | 0.45108664060229436  |
|   8    | 0.18869996906027617 |  0.4843306706419529  |
|   9    |  0.1896187851001787 |  0.5000743022154716  |
|   10   | 0.18978285939301895 |  0.5047438565896925  |
+--------+---------------------+----------------------+
[10 rows x 3 columns]


Overall RMSE: 0.39806055773122523

Per User RMSE (best)
+-----------+------+-------+
| client_id | rmse | count |
+-----------+------+-------+
| C00005028 | 0.0  |   1   |
+-----------+------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+-----------+------+-------+
| client_id | rmse | count |
+-----------+------+-------+
| C00001104 | 1.0  |   1   |
+-----------+------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+----------------------+---------------------+-------+
|       product        |         rmse        | count |
+----------------------+---------------------+-------+
| type_y_VISA Standard | 0.15367138819409568 |  1101 |
+----------------------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+----------------------+--------------------+-------+
|       product        |        rmse        | count |
+----------------------+--------------------+-------+
| type_y_No CreditCard | 0.8987367194525682 |  1087 |
+----------------------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model factorization on Purchase Counts

recommendations finished on 1000/5079 queries. users per second: 302939

recommendations finished on 2000/5079 queries. users per second: 232829

recommendations finished on 3000/5079 queries. users per second: 210482

recommendations finished on 4000/5079 queries. users per second: 219443

recommendations finished on 5000/5079 queries. users per second: 236474

Precision and recall summary statistics by cutoff
+--------+----------------+---------------------+
| cutoff | mean_precision |     mean_recall     |
+--------+----------------+---------------------+
|   1    |      1.0       | 0.48056586879681895 |
|   2    |      1.0       |  0.7654239210943273 |
|   3    |      1.0       |  0.914428458920483  |
|   4    |      1.0       |  0.973257765401891  |
|   5    |      1.0       |  0.9933983536316677 |
|   6    |      1.0       |  0.9988116333361458 |
|   7    |      1.0       |  0.9998277219925182 |
|   8    |      1.0       |         1.0         |
|   9    |      1.0       |         1.0         |
|   10   |      1.0       |         1.0         |
+--------+----------------+---------------------+
[10 rows x 3 columns]


Overall RMSE: 0.33022448280076094

Per User RMSE (best)
+-----------+----------------------+-------+
| client_id |         rmse         | count |
+-----------+----------------------+-------+
| C00007863 | 0.000375619985270248 |   1   |
+-----------+----------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+-----------+-------------------+-------+
| client_id |        rmse       | count |
+-----------+-------------------+-------+
| C00003918 | 1.476728675170916 |   1   |
+-----------+-------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+----------------------+---------------------+-------+
|       product        |         rmse        | count |
+----------------------+---------------------+-------+
| type_y_VISA Standard | 0.19166058504178504 |  1101 |
+----------------------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------------------------+--------------------+-------+
|            product            |        rmse        | count |
+-------------------------------+--------------------+-------+
| Product_Other bank product... | 0.5163421803566254 |  1098 |
+-------------------------------+--------------------+-------+
[1 rows x 3 columns]

In [ ]:
final_model = tc.popularity_recommender.create(tc.SFrame(test_data), 
                                            user_id=user_id, 
                                            item_id=item_id, 
                                            target='is_owned',user_data=user_info)

Preparing data set.

    Data has 13960 observations with 5369 users and 13 items.

    Data prepared in: 0.078468s

13960 observations to process; with 13 unique items.

In [ ]:
recom = final_model.recommend(users=users_to_recommend, k=n_rec)
recom.print_rows(n_display)

recommendations finished on 1000/5369 queries. users per second: 347464

recommendations finished on 2000/5369 queries. users per second: 344234

recommendations finished on 3000/5369 queries. users per second: 285687

recommendations finished on 4000/5369 queries. users per second: 318142

recommendations finished on 5000/5369 queries. users per second: 311935

+-----------+-------------------------------+---------------------+------+
| client_id |            product            |        score        | rank |
+-----------+-------------------------------+---------------------+------+
| C00000001 | Product_Bank account or se... |  0.9235912129894938 |  1   |
| C00000001 |    Product_Checking account   |  0.8404558404558404 |  2   |
| C00000001 |      type_y_No CreditCard     |  0.8077276908923643 |  3   |
| C00000001 |       Product_Insurence       |  0.8060384263494969 |  4   |
| C00000001 | Product_Other bank product... |  0.4007285974499089 |  5   |
| C00000002 | Product_Bank account or se... |  0.9235912129894938 |  1   |
| C00000002 |    Product_Checking account   |  0.8404558404558404 |  2   |
| C00000002 |      Product_Credit card      |  0.8239234449760765 |  3   |
| C00000002 | Product_Other bank product... |  0.4007285974499089 |  4   |
| C00000002 |           loanexist           | 0.16030534351145037 |  5   |
| C00000003 | Product_Bank account or se... |  0.9235912129894938 |  1   |
| C00000003 |    Product_Checking account   |  0.8404558404558404 |  2   |
| C00000003 |      Product_Credit card      |  0.8239234449760765 |  3   |
| C00000003 |      type_y_No CreditCard     |  0.8077276908923643 |  4   |
| C00000003 |           loanexist           | 0.16030534351145037 |  5   |
| C00000004 | Product_Bank account or se... |  0.9235912129894938 |  1   |
| C00000004 |    Product_Checking account   |  0.8404558404558404 |  2   |
| C00000004 |      Product_Credit card      |  0.8239234449760765 |  3   |
| C00000004 |      type_y_No CreditCard     |  0.8077276908923643 |  4   |
| C00000004 |       Product_Insurence       |  0.8060384263494969 |  5   |
| C00000005 | Product_Bank account or se... |  0.9235912129894938 |  1   |
| C00000005 |    Product_Checking account   |  0.8404558404558404 |  2   |
| C00000005 |       Product_Insurence       |  0.8060384263494969 |  3   |
| C00000005 |    Product_Savings account    | 0.13768115942028986 |  4   |
| C00000005 | Product_(CD) Certificate o... | 0.07655954631379962 |  5   |
| C00000006 |    Product_Checking account   |  0.8404558404558404 |  1   |
| C00000006 |      Product_Credit card      |  0.8239234449760765 |  2   |
| C00000006 |       Product_Insurence       |  0.8060384263494969 |  3   |
| C00000006 | Product_Other bank product... |  0.4007285974499089 |  4   |
| C00000006 |           loanexist           | 0.16030534351145037 |  5   |
+-----------+-------------------------------+---------------------+------+
[26845 rows x 4 columns]

In [ ]:
recom

Columns:
	client_id	str
	product	str
	score	float
	rank	int

Rows: 26845

Data:
+-----------+-------------------------------+---------------------+------+
| client_id |            product            |        score        | rank |
+-----------+-------------------------------+---------------------+------+
| C00000001 | Product_Bank account or se... |  0.9235912129894938 |  1   |
| C00000001 |    Product_Checking account   |  0.8404558404558404 |  2   |
| C00000001 |      type_y_No CreditCard     |  0.8077276908923643 |  3   |
| C00000001 |       Product_Insurence       |  0.8060384263494969 |  4   |
| C00000001 | Product_Other bank product... |  0.4007285974499089 |  5   |
| C00000002 | Product_Bank account or se... |  0.9235912129894938 |  1   |
| C00000002 |    Product_Checking account   |  0.8404558404558404 |  2   |
| C00000002 |      Product_Credit card      |  0.8239234449760765 |  3   |
| C00000002 | Product_Other bank product... |  0.4007285974499089 |  4   |
| C00000002 |           loanexist           | 0.16030534351145037 |  5   |
+-----------+-------------------------------+---------------------+------+
[26845 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
df_rec = recom.to_dataframe()
print(df_rec.shape)
df_rec.head()

(26845, 4)

   client_id                             product     score  rank
0  C00000001     Product_Bank account or service  0.923591     1
1  C00000001            Product_Checking account  0.840456     2
2  C00000001                type_y_No CreditCard  0.807728     3
3  C00000001                   Product_Insurence  0.806038     4
4  C00000001  Product_Other bank product/service  0.400729     5

In [ ]:
def create_output(model, users_to_recommend, n_rec, print_csv=True):
    recomendation = model.recommend(users=users_to_recommend, k=n_rec)
    df_rec = recomendation.to_dataframe()
    df_rec['recommendedProducts'] = df_rec.groupby([user_id])[item_id] \
        .transform(lambda x: '|'.join(x.astype(str)))
    df_output = df_rec[['client_id', 'recommendedProducts']].drop_duplicates() \
        .sort_values('client_id').set_index('client_id')
    if print_csv:
        df_output.to_csv('option1_recommendation.csv')
        print("An output file can be found in 'output' folder with name 'option1_recommendation.csv'")
    return df_output

In [ ]:
df_output = create_output(final_model, users_to_recommend, n_rec, print_csv=True)
print(df_output.shape)
df_output.head()

recommendations finished on 1000/5369 queries. users per second: 304414

recommendations finished on 2000/5369 queries. users per second: 316807

recommendations finished on 3000/5369 queries. users per second: 260892

recommendations finished on 4000/5369 queries. users per second: 252270

recommendations finished on 5000/5369 queries. users per second: 262715

An output file can be found in 'output' folder with name 'option1_recommendation.csv'
(5369, 1)

                                         recommendedProducts
client_id
C00000001  Product_Bank account or service|Product_Checki...
C00000002  Product_Bank account or service|Product_Checki...
C00000003  Product_Bank account or service|Product_Checki...
C00000004  Product_Bank account or service|Product_Checki...
C00000005  Product_Bank account or service|Product_Checki...

In [ ]:
def customer_recomendation(customer_id):
    if customer_id not in df_output.index:
        print('Customer not found.')
        return customer_id
    return df_output.loc[customer_id]

In [ ]:
customer_recomendation('C00000008')

recommendedProducts    Product_Bank account or service|Product_Checki...
Name: C00000008, dtype: object

In [2]:
pip install pyre-check

Collecting pyre-check
  Downloading https://files.pythonhosted.org/packages/c8/05/b248c1efdbca2b53770420e402397ecc0f06ca46b619f6e51c8f4c21920b/pyre_check-0.0.53-py3-none-manylinux1_x86_64.whl (24.6MB)
     |████████████████████████████████| 24.6MB 169kB/s
Collecting pyre-extensions
  Downloading https://files.pythonhosted.org/packages/65/fa/77b7f20540cd902a0c8921e3dd9e3bbeb247bd9d5b340cbf54639dc60526/pyre_extensions-0.0.18-py3-none-any.whl
Requirement already satisfied: dataclasses in /usr/local/lib/python3.6/dist-packages (from pyre-check) (0.7)
Collecting libcst>=0.3.6
  Downloading https://files.pythonhosted.org/packages/d9/3b/a6ad09be126bc1eeade036996ef64f0dd4976e0f1fbb126a9c3abca1d77a/libcst-0.3.10-py3-none-any.whl (498kB)
     |████████████████████████████████| 501kB 36.8MB/s
Collecting pywatchman
  Downloading https://files.pythonhosted.org/packages/c8/78/27e68a475fea03949cf37ebe9229e2c49a5af5e3d149951988e47b5929c1/pywatchman-1.4.1.tar.gz
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from pyre-check) (5.4.8)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.6/dist-packages (from pyre-extensions->pyre-check) (3.7.4.3)
Collecting typing-inspect
  Downloading https://files.pythonhosted.org/packages/42/1c/66402db44184904a2f14722d317a4da0b5c8c78acfc3faf74362566635c5/typing_inspect-0.6.0-py3-none-any.whl
Collecting pyyaml>=5.2
  Downloading https://files.pythonhosted.org/packages/64/c2/b80047c7ac2478f9501676c988a5411ed5572f35d1beff9cae07d321512c/PyYAML-5.3.1.tar.gz (269kB)
     |████████████████████████████████| 276kB 42.4MB/s
Collecting mypy-extensions>=0.3.0
  Downloading https://files.pythonhosted.org/packages/5c/eb/975c7c080f3223a5cdaff09612f3a5221e4ba534f7039db34c35d95fa6a5/mypy_extensions-0.4.3-py2.py3-none-any.whl
Building wheels for collected packages: pywatchman, pyyaml
  Building wheel for pywatchman (setup.py) ... done
  Created wheel for pywatchman: filename=pywatchman-1.4.1-cp36-cp36m-linux_x86_64.whl size=58063 sha256=9e5c516dea33c21f2ac62f473c9714d21858a8463031882eb0f3dab66d06cae5
  Stored in directory: /root/.cache/pip/wheels/7f/ee/43/9359d63838983e133cf93c3c600ca7d5fc3c75718a2e86f011
  Building wheel for pyyaml (setup.py) ... done
  Created wheel for pyyaml: filename=PyYAML-5.3.1-cp36-cp36m-linux_x86_64.whl size=44619 sha256=805e43ffc65b8652437b4ebf4cbf90996ecf26fc2e5cb01a3284a8f43e4fbcb2
  Stored in directory: /root/.cache/pip/wheels/a7/c1/ea/cf5bd31012e735dc1dfea3131a2d5eae7978b251083d6247bd
Successfully built pywatchman pyyaml
Installing collected packages: mypy-extensions, typing-inspect, pyre-extensions, pyyaml, libcst, pywatchman, pyre-check
  Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed libcst-0.3.10 mypy-extensions-0.4.3 pyre-check-0.0.53 pyre-extensions-0.0.18 pywatchman-1.4.1 pyyaml-5.3.1 typing-inspect-0.6.0

In [3]:
pip install click click-log ipython==7.6.1 munch pygments SQLAlchemy ujson~=1.35 xxhash~=1.3.0 prompt-toolkit~=2.0.9 flask flask_cors flask_graphql graphene graphene_sqlalchemy

Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (7.1.2)
Collecting click-log
  Downloading https://files.pythonhosted.org/packages/38/52/a9dbb622f40ceeb09df141d855062cc9fbb38011f0ad8caee0cd840f399c/click_log-0.3.2-py2.py3-none-any.whl
Collecting ipython==7.6.1
  Downloading https://files.pythonhosted.org/packages/a6/2c/c7d44277b599df35af734d8f4142d501192fdb7aef5d04daf882d7eccfbc/ipython-7.6.1-py3-none-any.whl (774kB)
     |████████████████████████████████| 778kB 3.2MB/s
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (2.6.1)
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.6/dist-packages (1.3.19)
Collecting ujson~=1.35
  Downloading https://files.pythonhosted.org/packages/16/c4/79f3409bc710559015464e5f49b9879430d8f87498ecdc335899732e5377/ujson-1.35.tar.gz (192kB)
     |████████████████████████████████| 194kB 17.1MB/s
Collecting xxhash~=1.3.0
  Downloading https://files.pythonhosted.org/packages/df/db/abd8ecd1753b60e5b527365676482bda272d71eaab0ad732a8be5f11d2d8/xxhash-1.3.0-cp36-cp36m-manylinux1_x86_64.whl (46kB)
     |████████████████████████████████| 51kB 3.9MB/s
Collecting prompt-toolkit~=2.0.9
  Downloading https://files.pythonhosted.org/packages/87/61/2dfea88583d5454e3a64f9308a686071d58d59a55db638268a6413e1eb6d/prompt_toolkit-2.0.10-py3-none-any.whl (340kB)
     |████████████████████████████████| 348kB 19.5MB/s
Requirement already satisfied: flask in /usr/local/lib/python3.6/dist-packages (1.1.2)
Collecting flask_cors
  Downloading https://files.pythonhosted.org/packages/69/7f/d0aeaaafb5c3c76c8d2141dbe2d4f6dca5d6c31872d4e5349768c1958abc/Flask_Cors-3.0.9-py2.py3-none-any.whl
Collecting flask_graphql
  Downloading https://files.pythonhosted.org/packages/61/73/7e30093467341c1a9261fdd1ea296f6a1efd13dc659a8beb915d40853705/Flask-GraphQL-2.0.1.tar.gz
Collecting graphene
  Downloading https://files.pythonhosted.org/packages/05/97/45e743b372f65a619f8d1eb2897efb74fb1b0ffddc731ad37e0aa187ec5c/graphene-2.1.8-py2.py3-none-any.whl (107kB)
     |████████████████████████████████| 112kB 20.7MB/s
Collecting graphene_sqlalchemy
  Downloading https://files.pythonhosted.org/packages/d2/8d/4ab1c77e46a0d1ad2bedbb4b9d514025def8cbbf1f738db4343224cda80e/graphene_sqlalchemy-2.3.0-py2.py3-none-any.whl
Requirement already satisfied: backcall in /usr/local/lib/python3.6/dist-packages (from ipython==7.6.1) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython==7.6.1) (4.4.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython==7.6.1) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython==7.6.1) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython==7.6.1) (50.3.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython==7.6.1) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.6/dist-packages (from ipython==7.6.1) (0.17.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from munch) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit~=2.0.9) (0.2.5)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from flask) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from flask) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from flask) (2.11.2)
Collecting graphql-core<3,>=2.1
  Downloading https://files.pythonhosted.org/packages/11/71/d51beba3d8986fa6d8670ec7bcba989ad6e852d5ae99d95633e5dacc53e7/graphql_core-2.3.2-py2.py3-none-any.whl (252kB)
     |████████████████████████████████| 256kB 18.6MB/s
Collecting graphql-server-core<2,>=1.1
  Downloading https://files.pythonhosted.org/packages/bd/0e/d6e1c86ad0d5385679d01afde3677881e25b859709d74ff763baf0e0cedb/graphql-server-core-1.2.0.tar.gz
Collecting graphql-relay<3,>=2
  Downloading https://files.pythonhosted.org/packages/94/48/6022ea2e89cb936c3b933a0409c6e29bf8a68c050fe87d97f98aff6e5e9e/graphql_relay-2.0.1-py3-none-any.whl
Collecting aniso8601<=7,>=3
  Downloading https://files.pythonhosted.org/packages/45/a4/b4fcadbdab46c2ec2d2f6f8b4ab3f64fd0040789ac7f065eba82119cd602/aniso8601-7.0.0-py2.py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 5.4MB/s
Collecting singledispatch<4,>=3.4.0.3
  Downloading https://files.pythonhosted.org/packages/c5/10/369f50bcd4621b263927b0a1519987a04383d4a98fb10438042ad410cf88/singledispatch-3.4.0.3-py2.py3-none-any.whl
Requirement already satisfied: promise>=2.3 in /usr/local/lib/python3.6/dist-packages (from graphene_sqlalchemy) (2.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython==7.6.1) (0.6.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython==7.6.1) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from jedi>=0.10->ipython==7.6.1) (0.7.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->flask) (1.1.1)
Collecting rx<2,>=1.6
  Downloading https://files.pythonhosted.org/packages/33/0f/5ef4ac78e2a538cc1b054eb86285fe0bf7a5dbaeaac2c584757c300515e2/Rx-1.6.1-py2.py3-none-any.whl (179kB)
     |████████████████████████████████| 184kB 20.8MB/s
Building wheels for collected packages: ujson, flask-graphql, graphql-server-core
  Building wheel for ujson (setup.py) ... done
  Created wheel for ujson: filename=ujson-1.35-cp36-cp36m-linux_x86_64.whl size=68024 sha256=54ff8c03361cca6e1e9c159ab5c9c987b2d875c95622e51260f18bf72e72ca26
  Stored in directory: /root/.cache/pip/wheels/28/77/e4/0311145b9c2e2f01470e744855131f9e34d6919687550f87d1
  Building wheel for flask-graphql (setup.py) ... done
  Created wheel for flask-graphql: filename=Flask_GraphQL-2.0.1-cp36-none-any.whl size=6366 sha256=a000c5db105e18543d3348282bea8f8e0bd1041215609be321ee42d70155d809
  Stored in directory: /root/.cache/pip/wheels/59/ed/06/1b237b69f872b7c24d1c0c9996cc76de0af003d50e97defd2a
  Building wheel for graphql-server-core (setup.py) ... done
  Created wheel for graphql-server-core: filename=graphql_server_core-1.2.0-py2.py3-none-any.whl size=7535 sha256=d63f7da613aa9e367222825007dad4da9e3d043985181cc2363169c67c2c2d08
  Stored in directory: /root/.cache/pip/wheels/ee/28/9a/28c498c9942ee8af455869ecac995056d3a3276eeced3516a9
Successfully built ujson flask-graphql graphql-server-core
ERROR: jupyter-console 5.2.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 2.0.10 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipython~=5.5.0, but you'll have ipython 7.6.1 which is incompatible.
Installing collected packages: click-log, prompt-toolkit, ipython, munch, ujson, xxhash, flask-cors, rx, graphql-core, graphql-server-core, flask-graphql, graphql-relay, aniso8601, graphene, singledispatch, graphene-sqlalchemy
  Found existing installation: prompt-toolkit 1.0.18
    Uninstalling prompt-toolkit-1.0.18:
      Successfully uninstalled prompt-toolkit-1.0.18
  Found existing installation: ipython 5.5.0
    Uninstalling ipython-5.5.0:
      Successfully uninstalled ipython-5.5.0
Successfully installed aniso8601-7.0.0 click-log-0.3.2 flask-cors-3.0.9 flask-graphql-2.0.1 graphene-2.1.8 graphene-sqlalchemy-2.3.0 graphql-core-2.3.2 graphql-relay-2.0.1 graphql-server-core-1.2.0 ipython-7.6.1 munch-2.5.0 prompt-toolkit-2.0.10 rx-1.6.1 singledispatch-3.4.0.3 ujson-1.35 xxhash-1.3.0

In [6]:
pip install pyre-check

Object `pyre` not found.